<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.mapping.mutilMapper">
	<!-- 选修#{_c}课程的学生信息 -->
	<select id="getS" resultType="Student">
		SELECT * FROM s WHERE _s IN (
			SELECT _s FROM sc WHERE _c=#{_c}
		)
	</select>
	
	<!-- 一个select中resultType和resultMap不能同时存在，一般简单的查询使用resultType即可 -->
	<select id="getS1" resultType="Student">
		SELECT s.* FROM
		s  LEFT JOIN sc ON s.`_s`=sc.`_s`
		WHERE sc.`_c`=#{_c}
	</select>
	
	
	<select id="getS2" resultMap="getS2map">
		SELECT s.* FROM
		s  LEFT JOIN sc ON s.`_s`=sc.`_s`
		WHERE sc.`_c`=#{_c}
	</select>
	
	<resultMap id="getS2map" type="Student">    
	    <id column="_s" property="_s"/>    
	    <result column="sName" property="sName"/> <!-- column表示的是数据库中的列名，property表示的是类中的名称 -->  
	    <result column="age" property="age"/>    
	</resultMap>   

</mapper>